body {
  background: #d6d4d4;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #a57629;
  text-align: center;
}

div.row {
  margin: 10px 0;
  text-align: center;
}

th {
  text-transform: uppercase;
  width: 100px;
  color: #888888;
}

th:first-child {
    padding: 1em 1em;
}


table.racer_table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
tr {
  background-color: #ffffff;
}

.end{
  background: #47b267;
}

.racer_table td {
  height: 60px;
  width: 80px;
  text-align: center;
}

.racer_table td.active {
  background-image: url("images/car.png");
  background-repeat: no-repeat;
  background-size: 80%;
  color: white;
  background-position: center center;
}

input.button {
  background-color: #ffffff;
}

div.four.columns.restart {
  display: none;
}

div.four.columns.restart.again  {
  display: initial;
}

input#playAgain {
  background-color: #93d1f9;
}
