body {
  background: #d6d4d4;
}

h1 {
  font-family: 'Roboto Slab', serif;
  color: #a57629;
  text-align: center;
}

div.row {
  margin: 10px 0;
  text-align: center;
}

th {
  text-transform: uppercase;
  width: 100px;
  color: #ffffff;
  text-align: right;
}

table.racer_table {
  border-collapse: separate;
  border-spacing: 0 10px;
}
tr {
  background-color: #f7e0af;
}

.racer_table td {
  height: 60px;
  width: 80px;
  text-align: center;
}

.racer_table td.active {
  background-image: url("images/car.png");
  background-repeat: no-repeat;
  background-size: 100% 80%;
  color: white;
  background-position: center center;
}

input.button {
  background-color: #ffffff;
}

